header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    padding: 12px;
    padding-left: 4%;
    margin: 0;
    margin-bottom: 2%;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}