.expenseList {  
    background-color: var(--base-variant);
    border-radius: 8px;
    width: 90%;
    height: 100%;
    padding: 16px;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.emptyMessage {
    background-color: var(--base-variant);
    border-radius: 8px;
    width: 90%;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.expenseList h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

@media (min-width: 1024px) {
    .expenseList {
        height: 100%;
        max-height: 75vh;
        overflow-y: auto;
       
        mask-image: linear-gradient(
            to bottom,
            black 90%,
            transparent 100%
        ); 
    }
}