.expenseList {  
    background-color: var(--base-variant);
    border-radius: 8px;
    width: 90%;
    height: auto;
    padding: 16px;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.expenseList h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}