.expenseForm {
    background-color: var(--base-variant);
    border-radius: 8px;
    width: 90%;
    height: 100%;
    padding: 16px;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.expenseForm input, 
.expenseForm textarea, 
.expenseForm select, 
.btn-submit {
    background-color: var(--base-color);
    color: var(--font-color);
    margin: 8px 0;
    font-size: medium;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 4px;
}

.btn-submit {
    background-color: var(--accent-color);
    font-size: medium;
    font-weight: bold;
    color: inherit;
    padding: 12px;
    height: auto;
    width: auto;
}

textarea {
    resize: none;
    height: 40px;
    overflow-y: auto;
}

@media (min-width: 1024px) {
    .formTitle {
        font-size: 1.4rem;
        font-weight: 600;
        text-align: left;
    }

    .formGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 12px;
    }

    .formGroup {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .btn-submit {
        width: 100%;
        height: 40px;
        padding: 0;
    }
}
