.expenseForm {
    background-color: var(--base-variant);
    border-radius: 8px;
    width: 90%;
    height: 100%;
    padding: 16px;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.btn-submit{
    background-color: var(--base-color);
    border-radius: 4px;
    width: auto;
    height: auto;
    margin-top: 12px;
    padding: 0.75rem;

    font-size: medium;
    font-weight: bold;
    color: inherit;
}

.expenseForm input, 
.expenseForm textarea, 
.expenseForm select{
    background-color: var(--base-color);
    color: var(--font-color);
    margin: 8px 0;
    font-size: medium;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 4px;
}

textarea {
    resize: none;
    height: 40px;
    overflow-y: auto;
}
