.totalExpenses {
  background-color: var(--accent-color);
  border-radius: 8px;
  width: auto;
  height: auto;
  padding: 20px;
  margin: 12px;
  margin-bottom: 2rem;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.totalAmount {
  font-size: 2rem;
}