.expenseItem {
    background-color: #ffffff;
    border-radius: 8px;
    width: 90%;
    height: 50%;
    padding: 12px 12px;
    margin: 16px;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}