.expenseList {  
    background-color: var(--accent-color);
    border-radius: 8px;
    width: 90%;
    height: auto;
    padding: 12px 12px;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}