.expenseItem {
    background-color: var(--base-color);
    border-radius: 8px;
    width: 90%;
    height: 50%;
    padding: 12px 12px;
    margin: 16px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
    justify-content: space-between;
    
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
