.form { grid-area: form; }
.list { grid-area: list; }
.total { grid-area: total; }

.expensesPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobileAddButton {
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: var(--accent-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.expenseFormWrapper {
    display: none;
}

.expenseFormWrapper.visible {
    display: block;
}

@media (min-width: 1024px) {
    .mobileAddButton {
        display: none;
    }

    .expenseFormWrapper {
        display: block;
    }

    .expensesPage {
        display: flex;
        grid-gap: 10px;
    }
}